<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Pacifico" rel="stylesheet" media="screen"/>
<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />

</head>
<body ng-app="app" ng-controller="Ctrl">
<!-- 
<div class="container-fluid">

<div id="LogoWrapper"> 
  
</div>

<br /><br /><br /><br /><br /><br />
	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>

	<div class="inputwrapper">
		<form method="POST" enctype="multipart/form-data" action="/">
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td>
				<td><input type="submit" value="Lets Upload" />
				 </td></tr>
			</table>
		</form>
	</div>

	<div style="background-color: #fff;">
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}" />
			</li>
		</ul>
	</div> -->
<!-- 
<div class="container-fluid">

<div id="LogoWrapper"> 
  
</div>

<br /><br /><br /><br /><br /><br />
	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>

	<div class="inputwrapper">
		<form method="POST" enctype="multipart/form-data" action="/">
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td>
				<td><input type="submit" value="Lets Upload" />
				 </td></tr>
			</table>
		</form>
	</div>

	<div style="background-color: #fff;">
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}" />
			</li>
		</ul>
	</div> -->
	

<div id="LogoWrapper"> 
  
  <ul id="LogoNames">
    <li ng-click="ChangeScreen('Splash')">Home</li>
    <li  ng-click="ChangeScreen('Create')">Upload</li>
    <li  ng-click="ChangeScreen('List')">View</li>
  </ul>
</div>


<div class="wrapper" ng-if="CurrScreen=='Splash'">
  <h2>Lets Make Things</h2>
  <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus mauris non urna commodo consectetur. Etiam vel venenatis eros. Maecenas malesuada erat at pretium eleifend. Phasellus dignissim facilisis elit. Pellentesque blandit est non ante mattis, nec volutpat tortor venenatis. Fusce suscipit lacinia posuere. Integer gravida fermentum felis a tempus. Aliquam erat volutpat. Donec est augue, ullamcorper dictum enim pellentesque, egestas tempor ante. Maecenas sit amet accumsan ex.

</p>
  <a class="button" ng-click="ChangeScreen('Create')">Lets Start</a>
</div>

<div ng-controller="CreateCtrl" class="wrapper" ng-if="CurrScreen=='Create'" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
  <h2>Lets Add Things</h2>
  <p>
    This is a form that will allow you to add things.
  </p>
  <div class="inputwrapper">  
    <input type="text" ng-model="Model.FirstName" placeholder="First Name"/>
    <input type="text"  ng-model="Model.LastName" placeholder="Last Name"/>
    <input type="text"  ng-model="Model.DoctorName" placeholder="Doctor Name"/>
    <input type="text"  ng-model="Model.SSN" placeholder="SSN"/>
    <br/>
    <input type="text"  ng-model="Model.Address" placeholder="Address"/>
    <input type="text"  ng-model="Model.City" placeholder="City"/>
    <input type="text"  ng-model="Model.Zip" placeholder="Zip Code"/>
    <select ng-model="Item"  ng-options="P.Value as P.Display for P in States"></select>
   
    <div ng-repeat="n in uploader.queue" ng-if="uploader.queue.length>0">{{n._file.name}}
      <div ng-thumb="{file:n._file, height:200}">
        <canvas width="500" height="200"></canvas>
      </div>
      
    </div>
    <div ng-if="File==null" class='Dropbox' nv-file-over="" uploader="uploader" over-class="Accent">Drop File Here</div>
</div>
  
  <a class="button" ng-click="Upload(uploader.queue[0])">Lets Upload</a>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-file-upload/2.3.4/angular-file-upload.js"></script>
<script th:src="@{/js/app.js}"></script>

</div>
</body>
</html>
